<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/item/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/invoice/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/desc/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/account/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/journal-entry-type/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/journal-entry/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/open-item-statements/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/gl-card/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/partner-specification/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/receivable-payable-card/**" access="hasRole('ROLE_ADMIN')" />
        <form-login login-page="/login" default-target-url="/home" 
            authentication-failure-url="/login?error=0"
            username-parameter="username" password-parameter="password" />
        <logout logout-success-url="/login"  />
    </http>
    <authentication-manager><authentication-provider user-service-ref="userService" /></authentication-manager>
</beans:beans>